@import "tailwindcss";
#home {
    background: url('./Assets/home.gif') no-repeat center center / cover;
}
#project {
    background: url('./Assets/p1.gif') no-repeat center center / cover;
    height: 60vh;
    width: 100%;
}